<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <form class="inicio" id="inicio">
    <div class="content">
        <h3> <span>Kinal</span> <span>Biblioteca</span></h3>
        <p>La Biblioteca tiene como visión ser un espacio moderno, agradable y accesible,
             orientada al usuario/a, referente informativo para la gestión y transmisión del conocimiento, 
             donde las nuevas tecnologías estén al alcance de todos.</p>
        <a *ngIf="_userService.getIdentidad()" class="btn" routerLink="/myloans"routerLinkActive="active">Ver mis prestamos</a>
        <a   *ngIf="_userService.getIdentidad() == null"  class="btn" routerLink="/login"routerLinkActive="active"> IniciarSesion</a>

    </div>
    <div class="image">
        <img src="../../../assets/img/leyendo.png" alt="">
    </div>


</form>
</body>
</html>