<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
  <div class="con-titulo">
    
    <h2 class="titulo" >Prestamos Libros</h2>
  </div>
  <div class="card-group">
    
    <div  class="contenedor" *ngFor="let co of _userService.getIdentidad().loan">
      <div  *ngIf="co.state == 'prestado' && co.idBook" >
        <div class="car">
      <img src="../../../assets/img/carpeta.png" class="card-img-top" alt="...">
      <div class="car-body">
        <h5 class="card-title" style="font-size: 20px;">{{co.title}}</h5>
        <p class="card-text" style="font-size: 16px;">{{co.author}}</p>
        <p class="card-text" style="font-size: 16px;">{{co.state}}</p>
        <section class="butons">
          <button  class="btn"
         (click)="returnBook(co._id,co.idBook)">Devolver</button>
          </section>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="con-titulo">
    <h2 class="titulo" >Prestamos Revistas</h2>
  </div>
  <div class="card-group">
  <div  class="contenedor" *ngFor="let co of _userService.getIdentidad().loan">
    <div  *ngIf="co.state == 'prestado' && co.idMagazine" >
      <div class="car">
    <img src="../../../assets/img/carpeta.png" class="card-img-top" alt="...">
    <div class="car-body">
      <h5 class="card-title" style="font-size: 20px;">{{co.title}}</h5>
      <p class="card-text" style="font-size: 16px;">{{co.author}}</p>
      <p class="card-text" style="font-size: 16px;">{{co.state}}</p>
      <section class="butons">
        <button  class="btn"
       (click)="returnMagazine(co._id,co.idMagazine)">Devolver</button>
        </section>
    </div>
  </div>
  
  </div>

  
</div>
  </div>
</main>
    
</body>
</html>
